.whyRitual-container {
    color: white;
    font-family: 'Public Sans', sans-serif;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    /* Allow items to wrap if the container is too small */
}

.whyRitual-item {
    width: 33rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    background-color: #3A3A3A;
    padding: 1.875rem 2.8125rem;
    border-radius: 0.3125rem;
    box-sizing: border-box;
    position: relative;
    /*box-sizing: border-box ;  Ensure padding is included in the height/width */
}

.whyRitual-sparkle {
    position: absolute;
    font-size: 2.5rem;
    /* 42px */
    color: #BD9141;
    right: 0.9375rem;
    /* 15px */
    top: 0.9375rem;
    /* 15px */
}

.whyRitual-icon-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.625rem;
    /* 10px */
    width: 100%;
    /* why width is necessary - here  */
}

.whyRitual-icon {
    background: linear-gradient(91.94deg, #B17E32 -8.77%, #F3E681 58.63%, #CF9F41 107.45%);
    border-radius: 50%;
    height: 3.75rem !important;
    /* 60px */
    width: 3.75rem !important;
    /* 60px */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3125rem;
    /* 5px */
}

.whyRitual-icon-img {
    height: 1.875rem;
    /* 30px */
    width: 1.875rem;
    /* 30px */
}

.whyRitual-title {
    font-family: 'Popins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    /* 19px */
    line-height: 2rem;
    /* 24px */
    color: white;
}

.whyRitual-description {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #D8D8D8;
}

@media (max-width: 768px) {
    .whyRitual-item {
        width: 90vw;
        /* Set dynamic width for small screens */
        height: auto;
        /* Adjust height automatically */
    }

    .whyRitual-icon {
        padding: 0px;
    }
}



@media (min-width: 1000px) {
    .whyRitual-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}