.media-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
    /* 15px */
}

.media-paragraph {
    width: 80%;
    margin-top: 0ch !important;
    padding-top: 0ch !important;
    font-weight: 400;
    font-size: 1rem;
    /* 16px */
    line-height: 1.875rem;
    /* 30px */
    text-align: center;
    color: white;
}

.media-items {
    /* display: flex; */
    display: grid;
    /* flex-wrap: wrap; */
    gap: 1.25rem;
    /* 20px */
    justify-content: center;
}

.media-item-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    /* 5px */
    width: 13.625rem;
    /* 218px */
    height: 6.8125rem;
    /* 109px */
    background-color: #4E4E4E;
}

.media-img {
    width: auto;
    max-width: 7rem;
    /* 50px */
    height: auto;
    max-height: 4rem;
    /* 50px */
    background-color: #4E4E4E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-name {
    font-weight: 700;
    font-size: 1rem;
    /* 16px */
    line-height: 1.875rem;
    /* 30px */
    text-align: center;
    color: white;
}

@media (min-width: 400px) {
    .media-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .media-items {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    .media-items {
        grid-template-columns: repeat(5, 1fr);
    }
}