.home {
    height: 68vh;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding: 0.625rem;
    padding-bottom: 0 !important;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    overflow: hidden;
    /* animation: floatAnimation 6s ease-in-out infinite; */

    /* background-color: aqua; */
}

@keyframes floatAnimation {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.home-text-wrapper {
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    min-width: 40%;
    animation: floatAnimation 6s ease-in-out infinite;
}

.home-heading {
    font-family: 'Poppins', 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
    /* color: #FFC27A; */
    color: #F3E681;
}

.home-hook {
    font-family: 'Poppins', 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.5rem;
    color: white;
}

.home-hook-highlight {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.home-hook-highlight::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -0.1875rem;
    width: 0%;
    /* Start with 0% width to hide the underline */
    height: 1rem;
    /* Height to give the feel of a thick brush stroke */
    background: url('data:image/svg+xml,%3Csvg%20width%3D%22111%22%20height%3D%2212%22%20viewBox%3D%220%200%20111%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M2.35137%205.06247C20.2539%201.99745%2066.621%20-1.44742%20108.868%209.29324%22%20stroke%3D%22%23FFC27A%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(-50%);
    animation: underlineReveal 1s ease-out forwards;
    /* Trigger animation */
    animation-delay: 0.5s;
    /* Optional delay for better timing */
}

@keyframes underlineReveal {
    0% {
        width: 0%;
    }

    100% {
        width: 110%;
        /* Grow to full width */
    }
}


.home-tag {
    font-family: 'Poppins', 'Nunito Sans', sans-serif;
    ;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #CFD3D6;
}

.home-btn {
    background: linear-gradient(135deg, #ffffff, #f0f0f0);
    color: black;
    height: 3.5rem;
    width: 13.0625rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-family: 'Poppins', 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.home-btn:hover {
    background: linear-gradient(135deg, #CF9F41, #FFD27D);
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}


/* section - other half  */
.home-img-svg-wrapper {
    /* background-color: yellow; */
    height: 68vh;
    display: flex;
    flex: 1;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}


/* .home-svg-wrapper {
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
} */

/* .home-svg {
    width: 548.29px;
    height: 545.03px;
} */

.home-img-wrapper {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
    /* Adjust to ensure it's relative to its parent */
}

.home-img {
    /* background-color: aliceblue; */
    /* background-image: url('./yellow_background.webp'); */
    /* background-size: 31.2681rem; */
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;

    width: auto;
    /* width: 32.706875rem; */
    height: 68vh;
    /* height: 40.375rem; */
    display: block;
    margin: 0 auto;
}

.home-top-card {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 0.625rem;
    /* 10px / 16 */
    box-shadow: 0.543125rem 0.543125rem 0px 0px rgba(0, 0, 0, 0.15);
    /* 8.69px / 16 */
    border-width: 0.068125rem;
    /* 1.09px / 16 */
    border-radius: 0.625rem;
    /* 10px / 16 */
    border-color: #B2BBCC;
    font-family: 'Poppins', 'Nunito Sans', sans-serif;
    ;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.home-left-card {
    box-shadow: 0.5rem 0.5rem 0px 0px rgba(0, 0, 0, 0.15);
    width: 15.25rem;
    height: 6.5rem;
    position: absolute;
    top: 50%;
    left: -0.1rem;
    transform: translateY(-50%);
    background-color: white;
    color: black;
    padding: 0.5rem;
    border-width: 0.0625rem;
    border-radius: 0.625rem;
    border-color: #B2BBCC;
    font-family: 'Poppins', 'Nunito Sans', sans-serif;
    ;
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.home-left-card-percent {
    font-size: 1.25rem;
    padding-bottom: 0 !important;
    margin-bottom: -0.4375rem !important;
    /* -7px / 16 */
}

.home-left-card-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-left-card-image-item {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    margin-left: -1.8rem;
    border: 0.18rem solid #f0f0f0;
    box-shadow: 0 0 0.625rem rgba(249, 249, 249, 0.1);
}

.home-left-card-image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-left-card-jackpot-img {
    width: 6.25rem;
    height: 6.25rem;

}

.home-left-card-image-item:first-child {
    margin-left: 0;
}

/* Media query for small devices */
@media (max-width: 768px) {
    .home {
        padding-top: 4rem;
        height: fit-content !important;
        padding-bottom: 0ch !important;

    }

    .home-img-svg-wrapper {
        height: auto;
    }

    .home-img {
        margin-bottom: 0ch !important;
        padding-bottom: 0ch !important;
        /* background-color: lime; */
        /* background-size: 80vw; */
        /* width: 80vw;  */
        max-width: 85vw;
        ;
        height: auto;
    }

    .home-top-card {
        display: none !important;

    }

    .home-left-card {
        width: 11.25rem;
        height: auto;
    }
}

/* @media screen and (min-width: 1710px) and (min-height: 955px) and (max-width: 1710px) and (max-height: 955px) {
    .home {
        min-height: 68vh !important;
        height: auto;
        padding-top: 10rem;
        gap: 4rem;
    }

    .home-text-wrapper {
        gap: 3.5rem;
    }

    .home-heading {
        font-size: 2.5rem;
        line-height: 2rem;
    }
    
    .home-hook {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }
    
    .home-tag {
        font-size: 2rem;
        line-height: 2rem;
        
    }
    
    .home-btn {
        height: 4rem;
        width: 15rem;
        font-size: 2rem;
    }

    .home-img {
        background-size: 42rem;
        width: auto;
        height: 68vh;
    }
} */

/* @media screen and (min-width: 1366px) and (min-height: 768px) and (max-width: 1366px) and (max-height: 768px) {
    .home {
        min-height: 60vh !important;
        height: auto;
        padding-top: 10rem;
        overflow: hidden;
    }

    .home-img {
        background-size: 36rem;
        width: auto;
        height: 60vh;
    }
} */

/* @media screen and (min-width: 1280px) and (min-height: 1024px) and (max-width: 1280px) and (max-height: 1024px) {
    .home {
        padding-top: 8rem;
        overflow: hidden;
    }
} */