.home {
    color: white;
}

.home .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    margin-top: 5rem;
}

.home .image img {
    width: 100%;
    -webkit-animation: floating 4s linear infinite;
    animation: floating 4s linear infinite;
}

.home .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    color: rgba(235, 214, 114, 1);
}

.home .content h3 {
    font-size: 6rem;
}

.home .content p {
    font-size: 2rem;
    padding: 1rem 0;
    line-height: 2;
    color: white;
}


/* media queries */
@media (max-width: 1200px) {

    .home .content h3 {
        font-size: 4rem;
    }
}