.introStats-container {
    background-color: black;
    color: white;
    font-family: 'Public Sans', sans-serif;
    display: flex;
    justify-content: center !important;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.875rem; /* 30px / 16 */
    padding: 3rem 9%;
}

.introStats-item {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.75rem; /* 12px / 16 */
}

.introStats-icon {
    background-color: #BD9141;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem; /* 20px / 16 */
    border-radius: 100%;
}

.introStats-img {
    height: 1.9375rem; /* 31px / 16 */
    width: 1.9375rem; /* 31px / 16 */
}

.introStats-title-des-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.625rem; /* 10px / 16 */
}

.introStats-title {
    font-size: 1.375rem; /* 22px / 16 */
    font-weight: bold;
    color: #F3E681;
    text-align: start;
    text-wrap: nowrap;
}

.introStats-description {
    font-size: 1rem; /* 16px / 16 */
    color: white;
    text-align: start;
    text-wrap: nowrap;
}

/* Responsive styles for mobile screens */
@media only screen and (max-width: 768px) {
    .introStats-container {
        flex-direction: column;
        align-items: start;
        align-content: center;
    }
}
