.heading {
    text-align: center;
    margin-bottom: 3rem;
    color: rgba(235, 214, 114, 1);
}

.heading span {
    font-size: 2.5rem;
    color: rgba(235, 214, 114, 1);
}

.boxContainer {
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
}

.box {
    background: #fff;
    padding: 3rem 2rem;
    text-align: center;
    border-radius: .5rem;
}

.box img {
    height: 8rem;
    margin-bottom: .7rem;
}

.box h3 {
    font-size: 2.8rem;
    padding: 1.5rem 0;
}

.box p {
    line-height: 2;
    font-size: 1.7rem;
}
