.footer {
    color: #B2BBCC;
    ;
    font-family: "Inter";
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer .box-container .box {
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    color: #ffffff;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    padding: 1rem 0;
}

.footer .footer-banner {
    background: linear-gradient(91.94deg, #B17E32 -8.77%, #F3E681 58.63%, #CF9F41 107.45%);
    height: 4px;
    width: 30px;
    border-radius: 2px;
    margin-top: 0ch !important;
    padding-top: 0ch !important;
    margin-bottom: 16px;
}  


.footer .box p {
    font-size: 16px;
}

.footer .box-container .box a {
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    display: block;
    color: #B2BBCC;
    padding: 8px 0;
    text-decoration: none;
}

.footer .box-container .box a:hover {
    color: #fff;
}

.footer .box-container .box img {
    margin-top: 1rem;
}

.footer .footer-media {
    display: flex;
    gap: 10px;
    font-size: 16px;
}


.footer .credit {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 16px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 18px;
    color: #8C9AB4;
    border-top: .1rem solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}