.feedback-main {
    font-family: 'Public Sans', sans-serif;
    color: white;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; */

}

.feedback-paragraph {
    width: 100%;
    margin-top: 0ch !important;
    padding-top: 0ch !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: white;
    text-wrap: wrap;
}

.feedback-container {
    margin-top: 40px;
}

.feedback-item {
    width: 424px !important;
    height: 288px !important;
    background-color: #4E4E4E;
    display: flex !important;
    flex-direction: column;
    gap: 25px;
    padding: 32px;
    border-radius: 30px;
    box-sizing: border-box;

}

.feedback-itp-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;
    position: relative;
}

.feedback-icon {
    background: linear-gradient(91.94deg, #B17E32 -8.77%, #F3E681 58.63%, #CF9F41 107.45%);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-tp-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.feedback-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    color: white;
}

.feedback-position {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #A5A5A5;
}

.feedback-quote-right {
    position: absolute;
    font-size: 42px;
    color: #BD9141;
    right: 10px;
    top: -5px;
}

.feedback-description {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #D8D8D8;
}