.feedbackMain {
  font-family: "Poppins", "Nunito Sans", sans-serif;
  color: white;
}

.feedbackParagraph {
  width: 100%;
  margin-top: 0ch !important;
  padding-top: 0ch !important;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6;
  text-align: center;
  color: white;
  text-wrap: wrap;
}

.feedbackContainer {
  margin-top: 2.5rem;
  display: flex;
}

.feedbackItem {
  width: 95% !important;
  max-width: 34rem;
  height: 100% !important;
  background-color: #4e4e4e;
  display: flex !important;
  flex-direction: column;
  gap: 1.5625rem;
  padding: 2rem;
  border-radius: 1.875rem;
  box-sizing: border-box;
  align-self: stretch;
}

.sliderContainer .slick-slide {
  display: flex;
  height: auto;
  align-items: stretch;
}

.feedbackItpWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
  position: relative;
}

.feedbackIcon {
  background: linear-gradient(
    91.94deg,
    #b17e32 -8.77%,
    #f3e681 58.63%,
    #cf9f41 107.45%
  );
  border-radius: 50%;
  height: 3.75rem;
  width: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedbackTpWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.feedbackTitle {
  font-family: "Popins", "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
}

.feedbackPosition {
  font-family: "Popins", "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: #a5a5a5;
}

.feedbackQuoteRight {
  position: absolute;
  font-size: 2.75rem;
  color: #bd9141;
  right: 0.625rem;
  top: -0.3125rem;
}

.feedbackDescription {
  font-family: "Popins", "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #d8d8d8;
}

@media (max-width: 768px) {
  .feedbackItem {
    width: 90% !important;
    height: 100% !important;
  }

  .feedbackQuoteRight {
    font-size: 1.5rem;
    right: 0.1875rem;
    top: -0.1875rem;
  }
}
