.dashboard {
  display: flex;
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 17%;
  background: rgba(0, 0, 0, 1);
  height: 100vh;
  color: #fff;
  overflow: hidden;
  transition: all 0.5s linear;
  font-family: "Poppins", "Nunito Sans", sans-serif;
  text-wrap: nowrap;
  min-width: 300px;
  transition: min-width 0.3s ease;
  transition: width 0.3s ease;
}

.sidebarelement {
  font-size: 18px;
  padding: 1.3rem;
  cursor: pointer;
  display: flex;
}

.logout {
  font-size: 18px;
  padding: 2.3rem;
  cursor: pointer;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
}

.logout:hover {
  color: #c0a448;
}

.logout span {
  padding: 0 2.3rem;
  display: flex;
  align-items: center;
}

.sidebarelement:hover {
  background-color: #110d03;
  font-size: 18px;
  cursor: pointer;
  padding: 1.3rem;
  display: flex;
  border-right: 3px solid #e4c748;
  color: #c0a448;
}

.sidebarelementactive {
  background-color: #110d03;
  font-size: 18px;
  cursor: pointer;
  padding: 1.3rem;
  display: flex;
  border-right: 5px solid #e4c748;
  color: #c19e29;
}

.sidebarelement span {
  padding: 0 2.3rem;
  display: flex;
  align-items: center;
}

.sidebarelementactive span {
  padding: 0 2.3rem;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  padding: 1.2rem 3rem;
}

.dashboard .header .left {
  display: flex;
}

.dashboard .header .right .icons {
  display: flex;
}

.dashboard .maincontent {
  width: 83%;
  overflow: hidden;
  z-index: 1;
}

.dashboard .header .menugrid {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.dashboard .header .right .icons * {
  padding: 0 0.6rem;
}

.dashboard .content {
  background-color: #0a0a0a;
}

.expanded .sidebar {
  max-width: 4.5%; /* Set to the desired min-width when expanded */
  min-width: 88px;
}

.expanded .maincontent {
  width: 95%; /* Set to the desired width when sidebar is expanded */
}

@media only screen and (max-width: 700px) {
  .dashboard .header .menugrid {
    display: none !important;
  }
}
