/* must checkout - landing.js & landing.css  */
/* some css may be getting controlled by parents css */

.faq {
  width: 80%;
  margin: 0 auto;
}

.faq-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: white;
}

.faq-container {
  margin-top: 34px;
}

.faq-item {
  /* border: 1px solid #ddd; */
  border-radius: 4px;
  margin-bottom: 11px;
  overflow: hidden;
}

/* faq question css */
.faq-question {
  font-weight: 500;
  font-size: 19px;
  line-height: 30px;
  background-color: #4E4E4E;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question:hover {
  color: #000000;
  background: linear-gradient(91.94deg, #B17E32 -8.77%, #F3E681 58.63%, #CF9F41 107.45%);
}

.faq-question.highlight {
  color: #000000;
  background: linear-gradient(91.94deg, #B17E32 -8.77%, #F3E681 58.63%, #CF9F41 107.45%);
}


/* faq icons css  */
.faq-question-icons {
  height: 32px;
  width: 32px;
  color: #F3E681
}

.faq-question:hover .faq-question-icons {
  color: #000000;
}

.faq-question-icons.highlight {
  color: #000000;
  height: 34px;
  width: 34px;
}


/* faq answer css */
.faq-answer {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 25px;
  display: none;
  color: #000000;
  background: linear-gradient(91.94deg, #B17E32 -8.77%, #F3E681 58.63%, #CF9F41 107.45%);
}

.faq-answer.show {
  display: block;
}