.packageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem; /* 15px */
}

.packageParagraph {
  width: 80%;
  margin-top: 0ch !important;
  padding-top: 0ch !important;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  color: white;
}

.packageItems {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}

.packageItemWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.9375rem; /* 15px */
  max-width: 30rem;
  width: auto;
  height: auto;
  background-color: #414141;
  padding: 1.25rem; /* 20px */
  border-radius: 0.5rem; /* 8px */
  box-sizing: border-box;
}

.packageImg {
  width: 100%; /* 341.32px */
  height: auto; /* 252.33px */
  max-height: 32rem;
  background-color: #4e4e4e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.914375rem; /* 14.63px */
  padding: 0.0625rem; /* 1px */
  overflow: hidden;
}

.packageTitle {
  font-family: "Poppins", "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.25rem;
  background: linear-gradient(
    91.94deg,
    #b17e32 -8.77%,
    #f3e681 58.63%,
    #cf9f41 107.45%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.packageDetails {
  font-family: "Poppins", "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  row-gap: 0.75rem;
  list-style: none;
}

.packageDetails li {
  padding-left: 0.4375rem; /* 7px */
  font-family: "Poppins", "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem; /* 16px */
  line-height: 2.125rem; /* 34px */
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem; /* 4px */
}

.packageDots {
  display: block;
  height: 0.5rem; /* 8px */
  width: 0.5rem; /* 8px */
  border-radius: 50%;
  background: linear-gradient(
    91.94deg,
    #b17e32 -8.77%,
    #f3e681 58.63%,
    #cf9f41 107.45%
  );
}

.packagePoints {
  flex-direction: column;
  list-style: disc;
}

.packagePoints li {
  padding-left: 0.4375rem; /* 7px */
  font-family: "Poppins", "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem; /* 16px */
  line-height: 2; /* 34px */
  color: white;
}

.hrLine {
  border: 0.07625rem solid rgba(231, 233, 235, 0.3); /* 1.22px */
  width: 100%;
  height: 0;
}

.packagePriceWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.packagePrice {
  font-family: "Poppins", "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: white;
  margin-right: 0.5rem;
}

.packagePriceCross {
  font-family: "Poppins", "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #9b9898;
  margin-right: 0.4375rem;
  text-decoration: line-through;
}

.packageBuy {
  background: linear-gradient(
    91.94deg,
    #b17e32 -8.77%,
    #f3e681 58.63%,
    #cf9f41 107.45%
  );
  border-radius: 50%;
  height: 2.5625rem; /* 41px */
  width: 2.5625rem; /* 41px */
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.packageBuyIcon {
  font-size: 1.5rem; /* 22px */
}

/* Responsive Design for small screens */
@media (max-width: 768px) {
  .packageItemWrapper {
    width: 80vw; /* Set dynamic width for small screens */
    height: auto; /* Adjust height automatically */
  }

  .packageImg {
    width: 100%; /* Adjust image width to 100% of the wrapper */
    height: auto; /* Maintain aspect ratio by auto-adjusting height */
  }
}
