.proof-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
   
}

.proof-paragraph {
    margin-top: 0ch !important;
    padding-top: 0ch !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: white;
}

.proof-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.proof-img {
    width: 286px;
    height: 393px;
    background-color: #4E4E4E; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
