.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./banner.png") center center no-repeat;
  background-size: cover;
  height: 100vh;
}

.signin .container {
  display: flex;
  align-items: stretch;
  background: #000;
  border-radius: 12px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  overflow-y: auto;
  max-width: 900px;
  min-width: 35%;
  width: auto;
  height: auto;
  position: relative;
  padding: 2rem;
  color: white;
  flex-direction: column;
}

.signin .naa {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1rem;
  color: white;
}

.signin .naa span {
  color: #f39c12;
  cursor: pointer;
}
