.section {
  width: 100%;
  background-color: #2f2f2fde;
  padding: 20px;
}

.sectionMain {
  background-color: rgb(0, 0, 0);
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.sectionMain .closeBtn {
  text-align: right;
  cursor: pointer;
}

.sectionMain .mainContainer {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sectionMain .heading {
  color: #fff;
  text-align: center;
  width: 200px;
  font-size: 25px;
  font-weight: 500;
  font-family: "Poppins", "Nunito Sans", sans-serif;
}

.sectionMain .buttonContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sectionMain .button {
  background: linear-gradient(
    91.94deg,
    #b17e32 -8.77%,
    #f3e681 58.63%,
    #cf9f41 107.45%
  );

  width: 100px;
  text-align: center;
  cursor: pointer;
  padding: 1rem;
  color: black;
  font-weight: 700;
  font-family: "Poppins", "Nunito Sans", sans-serif;

  font-size: 15px;
  text-decoration: none;
  margin: 1rem 0;
  border-radius: 10px;
}
