.howItWorks-container {
    width: 80%;
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
    align-items: flex-start;

}


.howItWorks-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* .howItWorks-items:not(:last-child)::after {
    content: '';
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 50px; 
    border-left: 2px dashed #FFFFFF;
    background: linear-gradient(to bottom, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
} */


.howItWorks-imglink {
    width: 80px;
    height: 80px;
    color:  #FFC27A;
}

.howItWorks-name {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    line-height: 33px;
    color: white;
}

.howItWorks-description {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 27px;
    color: white;
}