.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25%;
  max-width: 25%;
  height: 99vh;
  max-height: 99vh !important;
  overflow-y: auto;
  color: #fff;
  transition: all 0.5s linear;
  font-family: "Poppins", "Nunito Sans", sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: black;
  border-right: 1px solid #212020;
  /* background-color: aqua; */
  overflow: hidden;
}

.elementWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  /* background-color: yellow; */
}

.heading {
  display: flex;
}

.headingLogo {
  background-color: black;
  width: 100%;
}

.sidebarelement,
.sidebarelementactive {
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 6px;
  flex-wrap: wrap;
}

.sidebarelement:hover {
  background-color: #110d03;
}

.sidebarelementactive {
  border-right: 5px solid #e4c748;
  color: #c19e29;
}

.sidebarelementactive:hover {
  background-color: #110d03;
}

.elementText {
  text-wrap: wrap;
}

.logoutWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  gap: 1rem;
  background-color: black;
}

.logout {
  width: 30px;
  height: 30px;
}

@media (max-width: 992px) {
  .sidebar {
    max-width: min-content;
    gap: 4rem;
  }
  .headingLogo {
    width: 55px;
    height: auto;
  }

  .elementWrapper {
    background-color: black;
    align-items: center;
    gap: 3rem;
  }

  .sidebarelement,
  .sidebarelementactive {
    font-size: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 6px;
    flex-wrap: wrap;
  }

  .sidebarelementactive {
    border-right: none;
    color: #c19e29;
  }

  .elementText {
    display: none;
  }
}
