.club-paragraph {
    margin-top: 0ch !important;
    padding-top: 0ch !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: white;
}


.club-item-wrapper {
    margin: 30px;
}

.club-item {
    width: 568px;
    height: 350px;
    box-sizing: border-box;
}

.club-img {
    display: block;
    width: 568px;
    height: 350px;
    background-color: #4E4E4E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}


/* Hide the previous button */
/* .slick-prev {
    display: none !important;
} */

/* Hide the next button */
/* .slick-next {
    display: none !important;
} */

/* Optionally, hide the arrow icons */
/* .slick-prev:before,
.slick-next:before {
    display: none;
    color: #fff; 
} */



/* Style the container for the dots */
/* .slick-dots {
    bottom: -30px;
} */

/* Style each dot */
.slick-dots li button:before {
    color: #D9D9D9;
    
}

/* Style the active dot */
.slick-dots li.slick-active button:before {
    color: #BD9141;
}