.dashboard {
  display: flex;
  color: white;
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 17%;
  height: 100vh;
  color: #fff;
  overflow: hidden;
  transition: all 0.5s linear;
  font-family: "Poppins", "Nunito Sans", sans-serif;
  text-wrap: nowrap;
}

.heading {
  padding: 1rem;
  color: #e4c748;
  font-family: "Popins", "Nunito Sans", sans-serif;
  text-align: center;
  margin: 0 0 15px 0;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 56px;
}

.sidebarelement,
.sidebarelementactive {
  font-size: 18px;
  padding: 1.3rem;
  display: flex;
  align-items: center;
}

.sidebarelement {
}

.sidebarelementactive {
  border-right: 5px solid #e4c748;
  color: #c19e29;
}

.sidebarelement span,
.sidebarelementactive span {
  padding: 0 2.3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  padding: 1.2rem 3rem;
}

.left {
  display: flex;
  align-items: center;
}

.searchbar input {
  width: 420px;
  background-color: #060606;
  padding: 0.7rem 1rem;
  font-family: "Poppins", "Nunito Sans", sans-serif;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  border: 0.6px solid #cfcfcf1d;
  color: #bcbcbc;
}

.searchbar input::placeholder {
  color: #bcbcbc;
  font-size: 14px;
}

.right .icons {
  display: flex;
  align-items: center;
}

.icons > div {
  padding: 0 0.6rem;
}

.coins {
  background: #313131;
  border-radius: 50px;
  padding: 0.28rem 0.6rem;
  display: flex;
  align-items: center;
  color: #ebd672;
  font-weight: 400;
}

.maincontent {
  width: 83%;
  z-index: 1;
}

.menugrid {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  cursor: pointer;
}

.content {
  
}

.expanded .sidebar {
  max-width: 4.5%;
  min-width: 88px;
}

.expanded .maincontent {
  width: 95%;
}

@media (max-width: 1168px) {
  .sidebar {
    width: 88px;
  }

  .maincontent {
    width: calc(100% - 88px);
  }

  .sidebarelement span,
  .sidebarelementactive span {
    display: none;
  }
}
