.dashboard {
  display: flex;
  color: white;
}

.maincontent {
  width: 83%;
  z-index: 1;
}

.expanded .maincontent {
  width: 95%;
}

@media (max-width: 1168px) {
  .sidebar {
    width: 88px;
  }

  .maincontent {
    width: calc(100% - 88px);
  }
}
